extends ../../layout

block content
    title= title
    script(src='/javascripts/examples/distance-measurement.js')
    script(src='/javascripts/examples/overview.js')
    script(src='/javascripts/examples/zoom-control.js')
    #content-padder 
    #content-real
        .ctrl-panel
            span#toggle-ctrl-panel.glyphicon.glyphicon-menu-left
            p
                | With Behavior Control &amp; UI &amp; Custom Overview / Distance Measurement / Zoom Control Component
            div HLP Service releases which are used in this demo:
            #releaseInfoTxt(style='left:0; top:0; z-index: 0;' value='Used Service Releases:/n')
        #mapContainer
    script(src='/javascripts/examples/v3/custom_components.js')
