extends ../../layout

block content
    title= title
    #content-padder 
    #content-real
        .ctrl-panel
            span#toggle-ctrl-panel.glyphicon.glyphicon-menu-left
            p#mapReleaseTxt
                | In this example we demonstrate how to find Link IDs between two waypoints in HLP.
            .form-horizontal
                .form-group
                    label.control-label.col-sm-3(for='start') Start:
                    .col-sm-9
                        input#start.form-control.input-wide(type='text' value='4-10 Amsterdam St, Richmond, VIC, 3121, Australia' onkeydown='if (event.keyCode == 13)startRouteCalculation();')
                .form-group
                    label.control-label.col-sm-3(for='dest') Destination:
                    .col-sm-9
                        input#dest.form-control.input-wide(type='text' value='60 Denmark St, Kew, VIC, 3101, Australia' onkeydown='if (event.keyCode == 13) startRouteCalculation();')
                .form-group
                    label.control-label.col-sm-3(for='traffic') Traffic:
                    .col-sm-9
                        select#traffic.form-control.input-wide(name='traffic' size='1')
                            option(value='enabled') enabled
                            option(value='disabled' selected='') disabled
                input#routeButton.btn.btn-default.btn-sm(type='submit' value='Calculate Route')
                #feedbackTxt(style='left:0; top:0; z-index: 0;')
                div HLP Service releases which are used in this demo:
                #releaseInfoTxt(style='left:0; top:0; z-index: 0;' value='Used Service Releases:/n')
                .form-group
                    label.control-label.col-sm-3 Link IDs:
                    #warningscontainer(style='margin: 3px;')
        #mapContainer
    script(src='/javascripts/examples/v3/find_linkid.js')
