extends ../../layout

block content
    title= title
    script(src='/javascripts/examples/random-coordinates.js')
    script(src='/javascripts/examples/tooltip.js')
    #content-padder 
    #content-real
        .ctrl-panel
            span#toggle-ctrl-panel.glyphicon.glyphicon-menu-left
            p Show a map with 8000 Markers
            div HLP Service releases which are used in this demo:
            #releaseInfoTxt(style='left:0; top:0; z-index: 0;' value='Used Service Releases:/n')
        #mapContainer
    script(src='/javascripts/examples/v3/marker_performance.js')
