extends ../../layout

block content
    title= title
    script(src='/javascripts/examples/OpenLayers/OpenLayers.js')
    #content-padder 
    #content-real
        #mapContainer
    script(src='/javascripts/examples/v3/open_layers.js')
