extends ../../layout

block content
    title= title
    script(src='/javascripts/examples/moment.js')
    script(src='/javascripts/examples/moment-range.js')
    script(src='/javascripts/examples/rectangle_selection.js')
    script(src='/javascripts/examples/date-time-parser.js')
    #content-padder 
    #content-real
        .ctrl-panel
            span#toggle-ctrl-panel.glyphicon.glyphicon-menu-left
            p#mapReleaseTxt
                | After selection, additional info is retrieved from PDE Web Service and displayed.
            .form-horizontal
                .form-group
                    label.control-label.col-sm-3(for='vehicletype') Vehicle Type:
                    .col-sm-9
                        select#vehicletype.form-control.input-wide(name='vehicletype' size='1' onchange='handleTruck();')
                            option(value='1' selected='') Automobiles
                            option(value='2') Buses
                            option(value='4') Taxis
                            option(value='8') Car Pools
                            option(value='16') Pedestrian
                            option(value='32') Trucks
                            option(value='64') deliveries
                            option(value='128') emergency vehicles
                            option(value='256') Through Traffic
                            option(value='512') Motorcycles
                            option(value='1024') Road Trains
                .form-group
                    label.control-label.col-sm-3(for='date') Departure:
                    .col-sm-9
                        input#date(type='date' value='')
                        input#time(type='time' value='')
                #truckoptions(style='display:none')
                    .form-group
                        label.control-label.col-sm-3(for='date') Trailer:
                        .col-sm-9
                            input#trailer.form-control.input-wide(type='number' min='0' max='999' step='1' value='0')
                    .form-group
                        label.control-label.col-sm-3(for='truck_weight') Truck Weight (tons):
                        .col-sm-9
                            input#truck_weight.form-control.input-wide(type='number' min='0' max='999' step='0.1' value='0')
                    .form-group
                        label.control-label.col-sm-3(for='length') Length (meters):
                        .col-sm-9
                            input#length.form-control.input-wide(type='number' min='0' max='999' step='0.1' value='0')
                    .form-group
                        label.control-label.col-sm-3(for='expl_dang_material') Dangerous Material:
                        .col-sm-9.checkbox
                            input#expl_dang_material(type='checkbox' name='expl_dang_material')
                .form-group
                    .col-sm-9
                        input#loadSpeedLimits.btn.btn-default.btn-sm(type='button' value='Load Speed Limits for current View' onclick='loadSpeedLimitsFromView();')
                #feedbackTxt(style='left:0; top:0; z-index: 0;')
                div HLP Service releases which are used in this demo:
                #releaseInfoTxt(style='left:0; top:0; z-index: 0;' value='Used Service Releases:/n')
        #mapContainer
        #pageblock
        #spinner
        style(type='text/css').
            .PO {
            position: absolute;
            display: none;
            background: white;
            padding: 10px 10px 0px;
            margin-left: -10px;
            margin-top: 2em;
            border-radius: 15px;
            left: 50%; top: 50%;
            border: solid #a1a1a1 1px;
            padding: 10px;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            text-align: justify;
            font-size: 12px;
            color: #1F2C35;
            z-index: 1;
            }
            #page_block
            {
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            background: white;
            opacity:0.6;
            position: absolute;
            display: none;
            }

    script(src='/javascripts/examples/v3/pde_speed_limits_in_view.js')
