extends ../../layout

block content
    title= title
    #content-padder 
    #content-real
        .ctrl-panel
            span#toggle-ctrl-panel.glyphicon.glyphicon-menu-left
            p
                | This example shows how a route manager 
                br
                | &#x9;&#x9;can be used to calculate a route from: 
                br
                b Westin Grand hotel, Berlin
                |  (52.516222,13.388900)
                br
                | to: 
                br
                b Staatsoper, Berlin
                | (52.517175, 13.395129)
                br
                | and push routing result to the map.
            p
                | Routing manager supports various options
                br
                | in making a routing request like setting type,
                br
                | transport mode and routes to avoid.
            div HLP Service releases which are used in this demo:
            #releaseInfoTxt(style='left:0; top:0; z-index: 0;' value='Used Service Releases:/n')
        #mapContainer
    //- script(src='/javascripts/examples/release-requests.js')
    script(src='/javascripts/examples/v3/simple_routing.js')
