extends ../../layout

block content
    title= title
    #content-padder 
    #content-real
        .ctrl-panel
            span#toggle-ctrl-panel.glyphicon.glyphicon-menu-left
            p With Behavior Control &amp; UI
            tr
                td HLP Service releases which are used in this demo:
                td
                    #releaseInfoTxt(style='left:0; top:0; z-index: 0;' value='Used Service Releases:/n')
        #mapContainer
    script(src='/javascripts/examples/v3/simple_map.js')
