head
  title HERE TCS site
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width,initial-scale=1')
  script(src='https://account.here.com/js/sdk/sso.min.js')
  script(src='javascripts/app-key.js')
  script(type='text/javascript' src='https://js.api.here.com/v3/3.1/mapsjs-core.js')
  script(type='text/javascript' src='https://js.api.here.com/v3/3.1/mapsjs-core-legacy.js')
  script(type='text/javascript' src='https://js.api.here.com/v3/3.1/mapsjs-service.js')
  script(type='text/javascript' src='https://js.api.here.com/v3/3.1/mapsjs-service-legacy.js')
  script(type='text/javascript' src='https://js.api.here.com/v3/3.1/mapsjs-ui.js')
  script(type='text/javascript' src='https://js.api.here.com/v3/3.1/mapsjs-mapevents.js')
  script(type='text/javascript' src='https://js.api.here.com/v3/3.1/mapsjs-data.js')
  link(rel='stylesheet' type='text/css' href='https://js.api.here.com/v3/3.1/mapsjs-ui.css')
  link(rel='shortcut icon' type='image/x-icon' href='images/here.ico')
  link(rel='stylesheet' href='stylesheets/style.css' media='screen' data-turbolinks-track='true')
  link(rel='stylesheet' href='stylesheets/application.css' media='screen' data-turbolinks-track='true')
  script(src='javascripts/application.js' data-turbolinks-track='true')
   
  