head
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width,initial-scale=1')
  //- script(src='https://account.here.com/js/sdk/sso.min.js')
  //- script(src='http://account.here.com/js/sdk/sso.js')
  script(src='http://st.p.account.here.com/js/sdk/sso.js')

  script(src='/jquery/jquery.js')
  script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous")
  script(src='/javascripts/hereAccount.js' data-turbolinks-track='true')
  script(src='/javascripts/app-key.js')
  script(src='/javascripts/cookiebuilder.js')
  script(src='/javascripts/initlogin.js')
  if version_num == 'v3' && is_china_example == 'true'
    script(src="https://js.hereapi.cn/v3/3.0/mapsjs-core.js" type="text/javascript" charset="utf-8")
    script(src="https://js.hereapi.cn/v3/3.0/mapsjs-service.js" type="text/javascript" charset="utf-8")
    script(src="https://js.hereapi.cn/v3/3.0/mapsjs-mapevents.js" type="text/javascript" charset="utf-8")
    script(src="https://js.hereapi.cn/v3/3.0/mapsjs-ui.js" type="text/javascript" charset="utf-8")
    script(src="https://js.hereapi.cn/v3/3.0/mapsjs-clustering.js" type="text/javascript" charset="utf-8")
    link(rel="stylesheet" type="text/css"  href="https://js.hereapi.cn/v3/3.0/mapsjs-ui.css")
  else if version_num == 'v3'
    script(type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-core.js")
    script(type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-service.js")
    script(type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js")
    script(type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-pano.js")
    script(type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js")
    script(type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-clustering.js")
    script(type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-data.js")
    link(rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css")
    script(src='/javascripts/examples/release-requests.js')
    script(src='/javascripts/examples/pde-manager-tiles.js')

  else
    script(type='text/javascript' src='https://js.api.here.com/v3/3.1/mapsjs-core.js')
    script(type='text/javascript' src='https://js.api.here.com/v3/3.1/mapsjs-core-legacy.js')
    script(type='text/javascript' src='https://js.api.here.com/v3/3.1/mapsjs-service.js')
    script(type='text/javascript' src='https://js.api.here.com/v3/3.1/mapsjs-service-legacy.js')
    script(type='text/javascript' src='https://js.api.here.com/v3/3.1/mapsjs-ui.js')
    script(type='text/javascript' src='https://js.api.here.com/v3/3.1/mapsjs-mapevents.js')
    script(type='text/javascript' src='https://js.api.here.com/v3/3.1/mapsjs-data.js')
    link(rel='stylesheet' type='text/css' href='https://js.api.here.com/v3/3.1/mapsjs-ui.css')


  link(rel='shortcut icon' type='image/x-icon' href='/images/here.ico')
  link(rel='stylesheet' href='/stylesheets/style.css' media='screen' data-turbolinks-track='true')
  link(rel='stylesheet' href='/stylesheets/application.css' media='screen' data-turbolinks-track='true')
  link(rel='stylesheet' href='/stylesheets/application-5111045f6fb21c9753e32bd3d306fcbb294f9041caea579c6062e7931ee5f5b5.css' media='screen' data-turbolinks-track='true')
  link(rel='stylesheet' href='/stylesheets/examples.css' media='screen' data-turbolinks-track='true')
  link(rel='stylesheet' href='/stylesheets/bootstrap-modifications.css' media='screen' data-turbolinks-track='true')
  //- link(rel='stylesheet' href='/bootstrap/bootstrap.css' media='screen' data-turbolinks-track='true')
  //- script(src='/javascripts/application-9f310ad318b7d09aa85ebe741c510d1a039bbe0a9d4fc99953e08940f1fd76dd.js' type='text/javascript')
  script(src='/javascripts/examples/defaults.js')
  script(src='/javascripts/application.js' type='text/javascript')
  //- script(src='/javascripts/gpx-parser.js' data-turbolinks-track='true')
  //- script(src='/javascripts/jszip.min.js' data-turbolinks-track='true')
  script(src='/javascripts/moment.js' data-turbolinks-track='true')
  script(src='/javascripts/moment-range.js' data-turbolinks-track='true')
  script(src='/javascripts/date-time-parser.js' data-turbolinks-track='true')
  script(src='/javascripts/rectangle_selection.js' data-turbolinks-track='true')
  script(src='/javascripts/kefir.min.js' data-turbolinks-track='true')

   
  