extends layout

block content
  #content-padder 
  #content-real
    .content-block
      .wrapper
        #cookie-welcome(style='display: block;')
          h2 Welcome to HERE Technical Customer Support
          p
            | HERE helps people navigate their lives and make sense of the world with intelligent and personal maps. HERE Technical Customer Support is the company&rsquo;s official Support Team for 
            u all
            |  HERE products.
      ul.here-menu-modern
        li
          .hvr-overline-reveal
            a(href='https://developer.here.com/documentation')
              | Documentation
              br
              | View all Documentation for HERE Services / APIs / SDKs
        li
          .hvr-overline-reveal
            a(href='/mobilesdk_examples')
              | Mobile SDK Examples
              br
              | Simple and easy to reuse HERE Mobile SDK examples. More examples can be created on request
      ul.here-menu-modern
        li
          .hvr-overline-reveal
            a(href='/examples/v3')
              | TCS Examples
              br
              | Simple and easy to reuse HERE Javascript 3.0 API examples. More examples can be created on request
        li
          .hvr-overline-reveal
            a(href='/examples/v3.1')
              | TCS Examples 3.1
              br
              | Simple and easy to reuse HERE Javascript 3.1 API example
      ul.here-menu-modern
        li
          .hvr-overline-reveal
            a(href='/pde')
              | Platform Data Extension
              br
              | Documentation of available data and attributes of the Platform Data Extension
        li
          .hvr-overline-reveal
            a(href='/maptools/distributions')
              | Map Tools
              br
              | Collection of tools that can be used for installing and viewing of HERE RDF data and its additional content
      ul.here-menu-modern
        li
          .hvr-overline-reveal
            a(href='https://trafficviewer.ext.here.com/')
              | Traffic Viewer
              br
              | restricted login to a tool to visualize and evaluate the freshest traffic information through a variety of features.
        li
          .hvr-overline-reveal
            a(href='https://trafficanalytics.here.com/#/login')
              | Traffic Analytics Query Tool
              br
              | restricted login to the HERE Traffic Analytics Query Tool
      ul.here-menu-modern
        li
          .hvr-overline-reveal
            a(href='/gdf')
              | GDF Viewer
              br
              | Tool for Viewing GDF Data
        li
          .hvr-overline-reveal
            a(href='https://pep.ext.here.com/')
              | Places Extract Portal
              br
              | Fresh custom data delivered quickly via the HERE Places Extract Portal
      ul.here-menu-modern
        li
          .hvr-overline-reveal
            a(href='https://here.flexnetoperations.com')
              | HERE Download Center
              br
              | restricted Login to HERE B2B Download Center
        li
          .hvr-overline-reveal
            a(href='https://mapcreator.here.com/')
              | HERE MapCreator
              br
              | HERE MapCreator to report Map Data issues like missing POIs, wrong Speed Limits, missing Streets etc.
        // <li> <div class="hvr-overline-reveal"><a href="https://here.service-now.com/csm">Service Portal</br>New Customer Service Portal, please ask your TCS representive for access!</a></div></li>

