block navbar
nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .row
      .col-xs-1
        .navbar-header
          a.navbar-brand(href='/')
            img(src='/images/logo.svg' width='60' height='44' alt='HERE logo')
      .col-xs-10
        .header-text TCS Here Maps
      .col-xs-1
        #logoutButton.hvr2-overline-reveal.hvr2-overline-reveal-min-width(onclick='javascript:logOut()')
          a(href='/login') Log Out