extends ../layout

block content
    title= title
    #content-padder 
    #content-real
        .subheader.bb Build 3.1.2.7 (Released on May 10, 2017)
        .container
            .hvr2-overline-reveal
                a(href="/gdf_viewer/gdfv_setup3128.exe") GDFViewer Installer
            .hvr2-overline-reveal
                a(href="/gdf_viewer/GDFv_ug.pdf") User's Guide - PDF
            .hvr2-overline-reveal
                a(href="/gdf_viewer/GDFv_ug.docx") User's Guide - DOC
        br
        .subheader.bb How To Install
        .content-text
            | Download the GDFv Installer, open the file and follow the instructions to install. At the end of the installation process the GDFv can be launched from the Windows &quot;Start&quot; menu.
        br
        br
        .subheader.bb Compatibility
        .content-text
            | GDFv runs on most versions of Windows. GDFv is not compatible with Linux, Unix or Macintosh.
        br
        br
        .subheader.bb How To Update from Previous Versions
        .content-text
            | First check the version of the GDFv installed on your computer. Select &quot;About&quot; from the GDFv &quot;Help&quot; menu. The About box will show the build version.
        br
        br
        .content-text
            | If the build version shown in the &quot;About&quot; box is older than the version of the GDFv Installer on this page, download the new installer and start the installation process.
            br
            br
            | You do not need to uninstall the older version first.
            br
            br
            | At the end of the installation process do check that the newer version has been correctly installed by again selecting &quot;About&quot; from the GDFv &quot;Help&quot; menu.
        br
        .subheader.bb
        .content-text
            p
                | For support on installing and running the HERE GDFv please contact your Technical Customer Support representative or email 
                a(href='mailto:tcs@here.com') tcs@here.com
