head
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width,initial-scale=1')
  meta(name='csrf-param' content='authenticity_token')
  meta(name='csrf-token' content='cq3LQfFvS0RiG67xoMzSdnowTKB+8assFSaufk1ifg8jlYcShgOGlKChpGekTPHSytehKuLIY9YDQPEeuMP2rQ==')
  | initLogin('inCUge3uprAQEtRaruyaZ8','https://account.here.com','frame','en-EN','password','http://localhost:3000/','false');
  script(src='https://account.here.com/js/sdk/sso.min.js')
  script(src='/jquery/jquery.js')
  script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js" integrity="sha256-T0Vest3yCU7pafRw9r+settMBX6JkKN06dqBnpQ8d30=" crossorigin="anonymous")
  script(src='/javascripts/app-key.js')
  script(type='text/javascript' src='https://js.api.here.com/v3/3.1/mapsjs-core.js')
  script(type='text/javascript' src='https://js.api.here.com/v3/3.1/mapsjs-core-legacy.js')
  script(type='text/javascript' src='https://js.api.here.com/v3/3.1/mapsjs-service.js')
  script(type='text/javascript' src='https://js.api.here.com/v3/3.1/mapsjs-service-legacy.js')
  script(type='text/javascript' src='https://js.api.here.com/v3/3.1/mapsjs-ui.js')
  script(type='text/javascript' src='https://js.api.here.com/v3/3.1/mapsjs-mapevents.js')
  script(type='text/javascript' src='https://js.api.here.com/v3/3.1/mapsjs-data.js')
  link(rel='stylesheet' type='text/css' href='https://js.api.here.com/v3/3.1/mapsjs-ui.css')
  link(rel='shortcut icon' type='image/x-icon' href='/images/here.ico')
  link(rel='stylesheet' href='/stylesheets/style.css' media='screen' data-turbolinks-track='true')
  link(rel='stylesheet' href='/stylesheets/application.css' media='screen' data-turbolinks-track='true')
  link(rel='stylesheet' href='/stylesheets/application-5111045f6fb21c9753e32bd3d306fcbb294f9041caea579c6062e7931ee5f5b5.css' media='screen' data-turbolinks-track='true')
  link(rel='stylesheet' href='/stylesheets/examples.css' media='screen' data-turbolinks-track='true')
  link(rel='stylesheet' href='/stylesheets/bootstrap-modifications.css' media='screen' data-turbolinks-track='true')
  //- link(rel='stylesheet' href='/bootstrap/bootstrap.css' media='screen' data-turbolinks-track='true')
  script(src='/javascripts/application.js' data-turbolinks-track='true')
  script(src='/javascripts/application-9f310ad318b7d09aa85ebe741c510d1a039bbe0a9d4fc99953e08940f1fd76dd.js' data-turbolinks-track='true')
  script(src='/javascripts/gpx-parser-490afb8ba00fbffa58e25fed2db47413e360f6b0f852e4967946a44491e16ddb.js' data-turbolinks-track='true')
  script(src='/javascripts/jszip.min-f8b9c5100d1d5b6a84317f6f0848fcedbc9dccb44074e7a080c9c76082403bc0.js' data-turbolinks-track='true')
  script(src='/javascripts/moment-ac9b9b667f37b319270d45f64287f8417df77db611c6009207780404b0ca3a4e.js' data-turbolinks-track='true')
  script(src='/javascripts/hereAccount-b8b1cd08baeb7bde1f8d355a6a390118231f1f7c562be305c93a71ce64a7c923.js' data-turbolinks-track='true')
  script(src='/javascripts/moment-range-54b3bf11ac1acd01c9a524c1da3aed326c0bbc04f8103adb647df27455ddb1f3.js' data-turbolinks-track='true')
  script(src='/javascripts/date-time-parser-646c3c3002dbbdf3930d51ee12834c7f14df89d3db8fdb37f85a4b87470c9fc6.js' data-turbolinks-track='true')
  script(src='/javascripts/rectangle_selection-d39a28a22c735797b66952f13c4ea170e0beb2fd2f0a83805277a1f7cf192401.js' data-turbolinks-track='true')
  script(src='/javascripts/examples/v31/defaults.js')
  script(src='/javascripts/kefir.min.js' data-turbolinks-track='true')
