// colors
$here_dark_grey: #0F1621;
$aqua: #48DAD0;
$red: #C41C33;
$yellow: #FAB800;
$green: #06B87C;
$white: #ffffff;
$grey1: #e4e6e9;
$grey2: #BABCC4;
$here_grey: #383C45;
$grey5: #1D232D;
$even_row: #BABCC4;
// fonts
$font_1: "Fira Sans";
$font_2: Arial;
