extends ../../layout

block content
    title= title
    #content-padder 
    #content-real
        .ctrl-panel
            span#toggle-ctrl-panel.glyphicon.glyphicon-menu-left
            | &#x9;
            p including Berlin Marathon Track
        #mapContainer
    script(src='/javascripts/examples/v31/berlin.js')
    script(src='/javascripts/examples/v31/2d_landmarks.js')