extends ../../layout

block content
    title= title
    script(src='https://js.api.here.com/v3/3.1/mapsjs-clustering.js'  type="text/javascript" charset="utf-8")
    script(src='/javascripts/examples/v31/random-coordinates.js')
    #content-padder 
    #content-real
        .ctrl-panel
            span#toggle-ctrl-panel.glyphicon.glyphicon-menu-left
            | &#x9;
            p With Behavior Control &amp; UI
            | &#x9;
            |HLP Service releases which are used in this demo:
            |&#x9;&#x9;
            #releaseInfoTxt(style='left:0; top:0; z-index: 0;', value='Used Service Releases:/n')
        #mapContainer
    script(src='/javascripts/examples/v31/release-requests.js')
    script(src='/javascripts/examples/v31/clustering.js')
