extends ../../layout

block content
    title= title
    #content-padder 
    #content-real
        .ctrl-panel
            span#toggle-ctrl-panel.glyphicon.glyphicon-menu-left
            | &#x9;
            table#content
            | &#x9;
            #status
            | &#x9;
            div HLP Service releases which are used in this demo:
            | &#x9;
            #releaseInfoTxt(style='left:0; top:0; z-index: 0;', value='Used Service Releases:/n')
        #mapContainer
    script(src='/javascripts/examples/v31/release-requests.js')
    script(src='/javascripts/examples/v31/mrs_options.js')