extends ../../layout

block content
    title= title
    link(rel='stylesheet' href='/stylesheets/extension3_1.css' media='screen' data-turbolinks-track='true')
    #content-padder 
    #content-real
        .ctrl-panel
            span#toggle-ctrl-panel.glyphicon.glyphicon-menu-left
            p#explanation
                | After route calculation, ADAS Curvature data and Speedlimits are retrieved from PDE Web Service. For each point on the route, the maximal drivable speed is calculated out of the curvature data. If this maximum possible speed is lower than the legal speedlimit, warning signs are displayed. Vehicles could monitor the current speed and show a warning to the driver if the vehicle is much faster than the suggested speed.
                br
                br
                | The start and destination can be geocoded or selected via long click in map.
            table(border='0')
                tr
                    td Start
                    td
                        input#start.form-control(type='text' size='35' value='Oberammergau' onkeydown='if (event.keyCode == 13) startRouteCalculation();')
                    // td><input type='text' id='start' size='35' value='Schmalkalden' onkeydown="if (event.keyCode == 13) startRouteCalculation();"/></td
                tr
                    td Destination
                    td
                        input#dest.form-control(type='text' size='35' value='Farchant' onkeydown='if (event.keyCode == 13) startRouteCalculation();')
                    // td><input type='text' id='dest'  size='35' value='Struth Helmershof' onkeydown="if (event.keyCode == 13) startRouteCalculation();"/></td
                tr
                    td Speed unit
                    td
                        .btn-group.btn-group-toggle.btn-switch(data-toggle='buttons')
                            label.btn.btn-secondary.active
                                input#kmhRadio(checked='' type='radio' name='speedUnit' autocomplete='off' value='1' onchange='handleUnitChange();')
                                |  km/h
                            label.btn.btn-secondary
                                input#mphRadio(type='radio' name='speedUnit' autocomplete='off' value='2' onchange='handleUnitChange();')
                                |  mph
                tr
                    td
                    td
                        input#routeButton.here-btn.here-btn-1(type='submit' value='Calculate Route' onclick='startRouteCalculation();')
                tr
                    td Show link curvature
                    td
                        label.checkbox-label.rectangular
                            input#linkCurvature(type='checkbox' checked='' onchange='handleLinkCurvatureChanged();')
                            span.checkbox-custom
                tr
                    td Show speed warning
                    td
                        label.checkbox-label.rectangular
                            input#shapeSpeedlimit(type='checkbox' checked='' onchange='handleSpeedlimitChanged();')
                            span.checkbox-custom
                tr
                    td
                    td
                        input#simulateRouteButton.here-btn.here-btn-1(type='submit' value='Simulate Route' onclick='startStopRouteSimulation();' disabled='')
            #feedbackTxt(style='left:0; top:0; z-index: 0;')
            #simulationContainer.simulationContainer(style='display:none')
                hr.separator
                p
                    | In simulation mode the legal speedlimit of the vehicle is shown here. A warning will be
                    br
                    | shown if 200m upfront the route a curve cannot be driven with the allowed speed and
                    br
                    | the simulation vehicle will reduce its speed.
                p#simulationSpeedTxt(style='left:0; top:0; z-index: 0;')
            hr.separator
            div HLP Service releases which are used in this demo:
            #releaseInfoTxt(style='left:0; top:0; z-index: 0;')
        #mapContainer
    script(src='/javascripts/examples/v31/release-requests.js')
    script(src='/javascripts/examples/v31/pde-manager-tiles.js')
    script(src='/javascripts/examples/v31/pde_adas_curvature_along_route_3_1.js')