extends ../../layout

block content
    title= title
    script(src='/javascripts/examples/v31/moment.js')
    script(src='/javascripts/examples/v31/moment-range.js')
    script(src='/javascripts/examples/v31/jszip.min.js')
    script(src='/javascripts/examples/v31/gpx-parse.js')
    script(src='/javascripts/examples/v31/date-time-parser.js')
    #content-padder 
    #content-real
        .ctrl-panel
            span#toggle-ctrl-panel.glyphicon.glyphicon-menu-left
            | &#x9;
            p#mapReleaseTxt
                | After route calculation, additional info is retrieved from PDE Web Service and displayed.
            | &#x9;
            .form-horizontal
                .form-group
                    label.control-label.col-sm-3(for='start') Start:
                    | &#x9;&#x9;&#x9;
                    .col-sm-9
                        input#start.form-control.input-wide(type='text', value='Kassel', onkeydown='if (event.keyCode == 13) go();')
                | &#x9;&#x9;
                .form-group
                    label.control-label.col-sm-3(for='dest') Destination:
                    | &#x9;&#x9;&#x9;
                    .col-sm-9
                        input#dest.form-control.input-wide(type='text', value='Frankfurt', onkeydown='if (event.keyCode == 13) go();')
                | &#x9;&#x9;
                .form-group
                    label.control-label.col-sm-3(for='vehicletype') Vehicle Type:
                    | &#x9;&#x9;&#x9;
                    .col-sm-9
                        select#vehicletype.form-control.input-wide(name='vehicletype', size='1', onchange='handleTruck();')
                            option(value='1', selected='') Automobiles
                            | &#x9;&#x9;&#x9;&#x9;&#x9;
                            option(value='2') Buses
                            | &#x9;&#x9;&#x9;&#x9;&#x9;
                            option(value='4') Taxis
                            | &#x9;&#x9;&#x9;&#x9;&#x9;
                            option(value='8') Car Pools
                            | &#x9;&#x9;&#x9;&#x9;&#x9;
                            option(value='16') Pedestrian
                            | &#x9;&#x9;&#x9;&#x9;&#x9;
                            option(value='32') Trucks
                            | &#x9;&#x9;&#x9;&#x9;&#x9;
                            option(value='64') deliveries
                            | &#x9;&#x9;&#x9;&#x9;&#x9;
                            option(value='128') emergency vehicles
                            | &#x9;&#x9;&#x9;&#x9;&#x9;
                            option(value='256') Through Traffic
                            | &#x9;&#x9;&#x9;&#x9;&#x9;
                            option(value='512') Motorcycles
                            | &#x9;&#x9;&#x9;&#x9;&#x9;
                            option(value='1024') Road Trains
                            | &#x9;&#x9;&#x9;&#x9;&#x9;
                            option(value='2048') Trucks Speed Limit Only
                | &#x9;&#x9;
                .form-group
                    label.control-label.col-sm-3(for='date') Departure:
                    | &#x9;&#x9;&#x9;
                    .col-sm-9
                        input#date(type='date', value='')
                        | &#x9;&#x9;&#x9;&#x9;
                        input#time(type='time', value='')
                | &#x9;&#x9;
                #truckoptions(style='display:none')
                    .form-group
                        label.control-label.col-sm-3(for='date') Trailer:
                        | &#x9;&#x9;&#x9;&#x9;
                        .col-sm-9
                        input#trailer.form-control.input-wide(type='number', min='0', max='999', step='1', value='0')
                    | &#x9;&#x9;&#x9;
                    .form-group
                        label.control-label.col-sm-3(for='truck_weight') Truck Weight (tons):
                        | &#x9;&#x9;&#x9;&#x9;
                        .col-sm-9
                        input#truck_weight.form-control.input-wide(type='number', min='0', max='999', step='0.1', value='0')
                    | &#x9;&#x9;&#x9;
                    .form-group
                        label.control-label.col-sm-3(for='length') Length (meters):
                        | &#x9;&#x9;&#x9;&#x9;
                        .col-sm-9
                        input#length.form-control.input-wide(type='number', min='0', max='999', step='0.1', value='0')
                    | &#x9;&#x9;&#x9;
                    .form-group
                        label.control-label.col-sm-3(for='expl_dang_material') Dangerous Material:
                        | &#x9;&#x9;&#x9;&#x9;
                        .col-sm-9.checkbox
                        input#expl_dang_material(type='checkbox', name='expl_dang_material')
                | &#x9;&#x9;
                input#routeButton.btn.btn-default.btn-sm(type='submit', value='Calculate Route')
                | &#x9;&#x9;
                #feedbackTxt(style='left:0; top:0; z-index: 0;')
                | &#x9;&#x9;
                div HLP Service releases which are used in this demo:
                | &#x9;&#x9;
                #releaseInfoTxt(style='left:0; top:0; z-index: 0;', value='Used Service Releases:/n')
        #mapContainer
    script(src='/javascripts/examples/v31/release-requests.js')
    script(src='/javascripts/examples/v31/pde-manager-tiles.js')
    script(src='/javascripts/examples/v31/pde_speed_limits_along_route.js')