extends ../../layout

block content
    title= title
    script(src='/javascripts/examples/v31/random-coordinates.js')
    script(src='/javascripts/examples/v31/rectangle_selection.js')
    #content-padder 
    #content-real
        .ctrl-panel
            span#toggle-ctrl-panel.glyphicon.glyphicon-menu-left
            p Use the Rectangle UI to select Markers
            div HLP Service releases which are used in this demo:
            #releaseInfoTxt(style='left:0; top:0; z-index: 0;' value='Used Service Releases:/n')
        #mapContainer
    script(src='/javascripts/examples/v31/rectangleselection.js')