extends ../../layout

block content
    title= title
    script(src='/javascripts/examples/v31/jszip.min.js')
    script(src='/javascripts/examples/v31/polyline.js')
    #content-padder 
    #content-real
        div
            .subheader This example is provided by HERE to demonstrate features of RME with PDE.
        div
        table.sdk-examples-table
            tr
                td
                    a.fancybox(title='rme_pde_java_example' rel='group' href='http://tcs.ext.here.com/assets/examples/rme_pde_java_example.png')
                        img.thumb-longer(src='/images/examples/rme_pde_java_example.png' alt='Rme pde java example pre')
                td RME PDE Java Example
                td
                    a(target='_blank' href='/rme_pde_java_example/RME_PDE_Java_Exampl_JS31.zip') RME_PDE_Java_Exampl_JS31.zip
