extends ../../layout

block content
    title= title
    script(src='/javascripts/examples/v31/simple_route.js')
    .ctrl-panel
        span#toggle-ctrl-panel.glyphicon.glyphicon-menu-left
            p
                | This example shows how a route manager 
                br
                | &#x9;&#x9;can be used to calculate a route from: 
                br
                b Westin Grand hotel, Berlin
                |  (52.516222,13.388900)
                br
                | to: 
                br
                b Staatsoper, Berlin
                | (52.517175, 13.395129)
                br
                | and push routing result to the map.
            p
                | Routing manager supports various options
                br
                | in making a routing request like setting type,
                br
                | transport mode and routes to avoid.
    #mapContainer
