extends ../../layout

block content
    title= title
    #content-padder 
    #content-real
        .ctrl-panel
            span#toggle-ctrl-panel.glyphicon.glyphicon-menu-left
            | &#x9;
            p#mapReleaseTxt
                | After route calculation, additional info is retrieved from PDE Web Service and displayed.
            | &#x9;
            .form-horizontal
                .form-group
                label.control-label.col-sm-3(for='start') Start
                | &#x9;&#x9;&#x9;
                .col-sm-9
                    input#start.form-control(type='text', size='50', value='Somerset, PA, USA')
                | &#x9;&#x9;
                .form-group
                label.control-label.col-sm-3(for='dest') Destination
                | &#x9;&#x9;&#x9;
                .col-sm-9
                    input#dest.form-control(type='text', size='50', value='Bedford, PA, USA')
                | &#x9;&#x9;
                .checkbox
                label.control-label
                    input#showSlopeData(type='checkbox', checked='true', onchange='handleMarkerContainer();')
                    | Display Slope data
                | &#x9;&#x9;
                .checkbox
                label.control-label
                    input#showSlopePerc(type='checkbox', checked='checked', onchange='switchIcons();')
                    | Show only Slope Percentage
                | &#x9;&#x9;
                input#routeButton.btn.btn-default.btn-sm(type='submit', value='Calculate Route')
                | &#x9;&#x9;
                div HLP Service releases which are used in this demo:
                | &#x9;&#x9;
                #releaseInfoTxt(style='left:0; top:0; z-index: 0;')
        #mapContainer
        #pageblock
        #spinner
    style(type='text/css').
      .colorbox {
      width: 10px;
      height: 10px;
      background: green;
      display: inline-block;
      margin-right: 10px;
      }
      .green {
      background: green;
      }
      .red {
      background: red;
      }
    script(src='/javascripts/examples/v31/release-requests.js')
    script(src='/javascripts/examples/v31/slope_along_route.js')
    