extends ../../layout

block content
    title= title
    #content-padder 
    #content-real
        .ctrl-panel
            span#toggle-ctrl-panel.glyphicon.glyphicon-menu-left
            | &#x9;
            p
                | Within this demo showcase you can see the GPS trace
                | of a vehicle displayed on the map (see marker positions)
                | and also the according route calculation from the
                | HLP Routing service.
            | &#x9;
            p
                | The color of the marker shows if the vehicle was within the
                | speed limit (green) or over the speed limit (red).
                | The first value shows the driven speed the one below the allowed one.
            | &#x9;
            p(style='color:red;') The Route calculation may take some time.
            | &#x9;
            input(type='File', value='Select GPX FIle', onchange='startGPXImport(this.files[0]);')
        #mapContainer
        #pageblock
        #popup.PO
            span#popuptext TEXT
    script(src='/javascripts/examples/v31/gpx-parser.js')
    script(src='/javascripts/examples/v31/speed_limits_along_gps_trace.js')
