extends ../../layout

block content
    title= title
    #content-padder 
    #content-real
        .ctrl-panel
            span#toggle-ctrl-panel.glyphicon.glyphicon-menu-left
            | &#x9;
            p With Behavior Control, UI &amp; Rectangle Zoom UI
        #mapContainer
    script(src='/javascripts/examples/v31/zoom-rectangle.js')
    script(src='/javascripts/examples/v31/zoomrectangle.js')
